/* App.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

.App {
  text-align: center;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
  border-radius: 5px;
  overflow: hidden;
}

.App-header {
  background-color: #007bff;
  color: #fff;
  padding: 10px 0;
}

.App-content {
  padding: 20px;
}

.section {
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.about-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-text {
  flex: 1;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #007bff;
  transition: transform 0.3s;
}

.profile-pic:hover {
  transform: scale(1.1);
}

a {
  color: #007bff;
  transition: color 0.3s;
}

a:hover {
  color: #0056b3;
}

.projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project {
  width: 30%;
  margin: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s;
  border-radius: 5px 5px 0 0;
}

.project:hover img {
  transform: scale(.9);
}

.project p {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 10px;
  text-align: center;
  background-color: #007bff;
  color: #fff;
  border-radius: 0 0 5px 5px;
  transition: background-color 0.3s;
}

.project:hover p {
  background-color: #0056b3;
}

.project-info {
  padding: 20px;
  background-color: #f0f0f0;
  margin-top: 20px;
  border-radius: 5px;
}

#contact {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  margin: 0 auto;
}

#contact h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

#contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact label {
  margin-bottom: 10px;
  font-size: 16px;
}

#contact input,
#contact textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #fff;
  border-radius: 5px;
}

#contact button {
  padding: 10px 20px;
  background-color: #fff;
  color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#contact button:hover {
  background-color: #0056b3;
  color: #fff;
}